---
layout: default
---

<div class="home">
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h2 class="post-title">{{ post.title }}</h2></a>
          <p class="post-meta">
            <span class="author vcard">
              <a class="url fn n" rel="author" title="查看作者 {{ post.author }} 发布的所有文章" href="/">
                <span itemtype="http://schema.org/Person" itemprop="author">
                  <span itemprop="name">{{post.author}}</span>
                </span>
              </a>
            </span> | 

            <span class="time">
              <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{post.date | date:"%Y-%m-%d"}}</time>
            </span>

            {% if post.categories.size != 0 %}
             | 
            <span class="categories">
              {% for cat in post.categories %}
              <a href="/categories/#{{ cat }}" title="{{ cat }}">{{cat}}</a>
              {% endfor %}
            </span>
            {% endif %}

            {% if post.tags.size != 0 %}
             | 
            <span class="tags">
              {% for tag in post.tags %}
              <a href="/tags/#{{ tag }}" title="{{ tag }}">{{tag}}</a>
              {% endfor %}
            </span>
            {% endif %}
             | 
            <a href="{{ post.url | prepend: site.baseurl }}#ds-thread"><span class="ds-thread-count" data-thread-key="{{ post.id }}" data-count-type="comments"></span></a>
          </p>

          {% if post.content contains '<!--more-->' %}
              {{ post.content | split:'<!--more-->' | first }}
              <a class="more-link" href="{{ post.url }}">继续阅读…</a>
          {% else %}
              {{ post.excerpt }}
          {% endif %}

      </div>
    {% endfor %}

  </div>

  <div class="home-info">
      <span class="home-info-icon">&#xe80c;</span>推荐：
            <li><a href="http://www.amazon.cn/gp/feature.html/?ie=UTF8&camp=536&creative=3200&docId=126758&linkCode=ur2&tag=utf8f-23
" target="_blank" title="Kindle 每天 4 本特价书。">Kindle 每日特价书</a></li>
            <li><a href="https://app.yinxiang.com/referral/Registration.action?uid=1283416&sig=088fb24cd74d4e9b9817b136e1e9bb24" target="_blank" title="印象笔记帮你轻松记录、整理并找到一切，让生活更美好、工作更高效。">印象笔记</a></li>
            <li><a href="http://gjsq.me/225681"  target="_blank" title="绿色好用靠谱的VPN">绿色加速器</a></li>
            <li><a href="http://my.zhuji.gd/aff.php?aff=099"  target="_blank" title="专业的PHP空间商，提供优质、稳定的美国、香港、日本PHP主机">主机格调</a></li>
  </div><!-- home-info -->
  
  <div id="post-pagination" class="pagination">
    {% if paginator.page == 1 %}
      <span class="page-numbers current">1</span>
    {% else %}
      <a class="page-numbers" href="/">1</a>
    {% endif %}

    {% assign pageSize = 2 %}
    {% assign startPage = paginator.page | minus:pageSize %}
    {% if 2 > startPage %}
      {% assign startPage = 2 %}
    {% endif %}
    {% assign endPage = paginator.page | plus:pageSize %}
    {% if endPage >= paginator.total_pages %}
      {% assign endPage = paginator.total_pages | minus:1 %}
    {% endif %}

    {% assign pageTemp = pageSize | plus:2 %}
    {% if paginator.page > pageTemp %}
      <span class="page-numbers dots">…</span>
    {% endif %}

    {% for count in (startPage..endPage) %}
      {% if count == paginator.page %}
        <span class="page-numbers current">{{ count }}</span>
      {% else %}
        <a class="page-numbers" href="/page{{ count }}">{{ count }}</a>
      {% endif %}
    {% endfor %}

    {% assign pageTemp1 = pageSize | plus:1 %}
    {% assign pageTemp = paginator.page | plus:pageTemp1 %}
    {% if paginator.total_pages > pageTemp %}
      <span class="page-numbers dots">…</span>
    {% endif %}

    {% if paginator.page == paginator.total_pages %}
      <span class="page-numbers current">{{paginator.total_pages}}</span>
    {% else %}
      <a class="page-numbers" href="/page{{paginator.total_pages}}/">{{paginator.total_pages}}</a>
    {% endif %}

  </div>

</div>
