<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info">
    <div class="site-footer-info">
      <small>
        Since 2015. 这是 <a href="http://www.huaxixiang.com/">巴中市花溪乡</a> 的 Github 同步更新站.
        &lt;/&gt; <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_3912308'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/stat.php%3Fid%3D3912308%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
      </small>
    </div>
  </div>
  <!-- 返回顶部 go2top -->
	<script src="{{ site.url }}/js/2top.js"></script>
	<ul id="scroll">
		<li><a class="scroll_t" title="返回顶部"><i class="icon-scroll_t"></i></a></li>
		<li><a class="scroll_b" title="转到底部"><i class="icon-scroll_b"></i></a></li>
	</ul>
  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"syncyhour"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
		</script>
	<!-- 多说公共JS代码 end -->
</footer>