<header id="header-nav" class="site-header" role="banner">
	<div class="home-title">
		<a href="/" class="site-title">{{ site.title }}</a>
	</div>
	<nav role="navigation" class="site-navigation main-navigation">
		<a href="{{ site.baseurl }}/donation/">&#xe809;</a>
		<a href="{{ site.baseurl }}/about/">关于</a>
		<a href="{{ site.baseurl }}/archive/">归档</a>
	</nav>
	
</header>
	<!-- .subnavTabs 第二菜单 -->
	<div class="subnavTabs">
		<div class="menu-sub-container">
			<ul id="menu-sub" class="menu">
				<li><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
				<li><a href="{{ site.baseurl }}/categories/">分类</a></li>
				<li><a href="{{ site.baseurl }}/tags/">标签</a></li>
			</ul>
		</div>
    </div><!-- .subnavTabs 第二菜单 -->